In [1]:
import pandas as pd
import os
import glob

In [2]:
df=pd.read_csv(r"D:\Python\OD\TransitSA3.csv")

In [3]:
# Temporaray Loop Dataframe for Split and combine 
s=pd.DataFrame()
s['Origin']=""
s['Destination']=""

In [4]:
Split=r'D:\Python\OD\Split\Zone_{}.csv'

In [5]:
df

,Name,30101,30103,30201,30202,30203,30204,30301,30302,30303,...,30305,30306,30401,30402,30403,30404,30501,30502,30503,30504
0,30101,1546,1856,7,21,93,24,183,60,52,...,20,9,0,0,17,2,315,67,92,18
1,30103,1818,13754,37,72,390,201,1307,379,454,...,175,122,3,1,94,49,1867,608,418,111
2,30201,12,43,4693,1712,666,774,23,77,24,...,21,3,5,0,105,197,159,26,380,123
3,30202,22,95,1643,10423,988,943,36,225,55,...,48,18,5,3,192,512,631,60,1791,336
4,30203,79,428,612,1091,11247,1643,157,280,179,...,181,68,26,2,417,124,1027,77,1704,272
5,30204,36,290,763,990,1968,15940,89,92,78,...,72,35,4,1,103,99,517,31,587,112
6,30301,205,1415,20,51,203,85,8805,1578,1123,...,103,94,10,0,121,41,1158,730,423,195
7,30302,64,397,73,216,263,84,1606,17534,1730,...,810,303,80,3,627,229,2941,823,1851,705
8,30303,52,379,26,72,157,56,943,1811,21988,...,730,1614,33,5,229,86,1121,169,634,291
9,30304,17,161,68,147,249,70,286,2807,1465,...,1402,1499,51,5,514,184,2302,286,1470,520
10,30305,14,190,17,43,222,52,133,882,654,...,16912,1843,90,8,501,79,553,73,391,104
11,30306,7,115,7,17,98,29,87,330,1596,...,1866,7481,14,0,78,20,526,39,272,82
12,30401,0,1,12,10,29,2,9,82,28,...,89,8,3514,21,261,25,124,13,117,107
13,30402,0,0,0,1,6,0,1,4,2,...,8,2,33,503,42,3,27,1,19,19
14,30403,12,77,113,178,355,105,124,689,191,...,472,82,224,55,12315,382,1326,118,1747,2121
15,30404,6,37,227,482,121,113,48,249,76,...,78,26,17,9,380,6145,596,28,1079,952
16,30501,243,1215,178,614,685,303,1004,3299,1167,...,603,461,124,19,1396,612,40995,981,5210,2091
17,30502,67,498,25,63,61,34,746,911,179,...,88,44,9,0,133,52,1231,3800,582,233
18,30503,104,471,460,1900,1734,597,422,2192,601,...,412,276,107,10,1870,1067,5531,634,29149,2045
19,30504,20,126,152,315,306,106,212,817,301,...,133,75,105,21,2076,1124,2180,219,2150,12037

In [6]:
# Split
for i in range(len(df)):
    for j in range(len(df)):
        s.loc[j,['Origin']]=df.at[i,'Name']
        s.loc[j,['Destination']]=df.at[j,'Name']
#         print(df.at[i,'Name'],df.at[j,'Name'])
        d=df.at[i,'Name']
        s['Count']=df['{}'.format(d)]
        s.to_csv(Split.format(d),index=False)

In [9]:
ipath=r'D:\Python\OD\Split'
opath=r'D:\Python\CAR_OD.csv'

In [10]:
# Combine Function
os.chdir(ipath)
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
s = pd.concat([pd.read_csv(f) for f in all_filenames ])
s.to_csv(opath, index=False, encoding='utf-8-sig')

In [11]:
df1=pd.read_csv(r"D:\Python\OD\CAR_OD.csv")

In [12]:
df1

     Destination  Origin  Count
0          30101   30101   1546
1          30101   30103   1818
2          30101   30201     12
3          30101   30202     22
4          30101   30203     79
..           ...     ...    ...
395        30504   30404    952
396        30504   30501   2091
397        30504   30502    233
398        30504   30503   2045
399        30504   30504  12037

[400 rows x 3 columns]

In [13]:
loc=pd.read_csv(r"D:\Python\OD\SA3Lat.csv")

In [14]:
Lat = dict(zip(loc.SA3_CODE11, loc.Latitude))
Long = dict(zip(loc.SA3_CODE11, loc.Longitude))

In [15]:
df1['Origin_Latitude']=df1['Origin']
df1['Origin_Longitude']=df1['Origin']
df1['Origin_Latitude']=df1['Origin_Latitude'].map(Lat)
df1['Origin_Longitude']=df1['Origin_Longitude'].map(Long)

In [16]:
df1['Destination_Latitude']=df1['Destination']
df1['Destination_Longitude']=df1['Destination']
df1['Destination_Latitude']=df1['Destination_Latitude'].map(Lat)
df1['Destination_Longitude']=df1['Destination_Longitude'].map(Long)

In [ ]:
df1.to_csv(r"D:\Python\OD\Kepler\TRANSIT_SA3_OD.csv")